MIMIC_PATH='../physionet.org/files/mimiciii/1.4/'
CCS_PATH='grouper_data/CCS-SingleDiagnosisGrouper.txt'
ICD9_CHAPTER_PATH='grouper_data/icd9-CM-code-chapter-en=PT.csv'
RANDOM_SEED=546
DATASET_SPLITS_PATH='preprocessed_dataset_1st_stage/'
